@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
}

html, body {
  min-height: 100%;
  margin: 0;
}

body {
  background: radial-gradient(at top left, rgb(238, 236, 240) 0%, rgb(224, 224, 224) 100%);
  background-repeat: no-repeat;
  margin: 0;
}

p {
  margin: 16px auto;
  line-height: 1.5em;
}

:root {
  --color-primary-500: #0f1c2b;
  --color-accent-500: #c69963;
}