.header {
  background: var(--color-primary-500);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.content {
  color: var(--color-accent-500);
  margin: 0 auto;
  padding: 1.45rem 1.0875rem;
  display: flex;
  flex-direction: row;
}

.header h1 {
  margin: 0;
}

.title {
  color: var(--color-accent-500);
  text-decoration: none; 
}

.phone {
  grid-column-start: 2;
  font-size: x-large;
  text-align: right;
  margin: auto 0;
}

.logoImage {
  width: 60px;
  margin-top: -15px;
}